.about-container {
    display: flex;
    flex-direction: row;
    margin-bottom: 300px;
    background-color: white;
    padding-bottom: 160px;
    padding-top: 40px;
}

.about-container-text {
    display: flex;
    flex-direction: column;
    width: 60%;
}

.about-container-text p {
    margin-top: -30px;
}

.about-container-text .message {
    font-weight: bold;
    display: block;
    font-family:'Montserrat', sans-serif;
    font-size: 25px;
    font-weight: 700;
    padding-top: 25px;
}

.avatars-container img {
    width: 225px;
    height: 225px;
    border-radius: 50%;
}

.avatars-container {
    display: flex;
    flex-flow: row wrap;
    padding-top: 10em;
}

.avatars-upper-row {
    display: flex;
    justify-content: flex-end;
    padding-left: 12em;
}

.avatars-lower-row {
    padding-right: 10em;
}

.caption {
    display: block;
    font-family:'Montserrat', sans-serif;
    font-size: 20px;
    font-weight: 600;
}
.job {
    display: block;
    font-family:'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 400;
}

.email {
    display: block;
    font-family:'Montserrat', sans-serif;
    font-size: 16px;
}

div.item {
    vertical-align: top;
    display: inline-block;
    text-align: center;
    width: 400px;
}

.form-control {
    border: none;
    border-bottom: 1px solid gray;
    width: 70%;
}

.input {
    text-underline-position: under;
}

input,
input::-webkit-input-placeholder {
    font-size: 20px;
    line-height: 3;
}

input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}


textarea {
    border: none;
    /* border-bottom: 1px solid gray; */
}

.button {
    display: inline-block;
    background-color: #4CAF50;
}